* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;       /* Colore todos os DEMAIS elementos que ainda não foram estilizados */
}

h1 {
    color: green; 
}

h2 {
    color: green;   /*Seleção por tag=*/
}

#economy h2 {
    color: gold;    /*Seleção de elementos por ID*/
}

.creation-date {
    color: #ccc;    /*Seleçao com base na classe.*/
}