@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;     /*ALTERA TODOS OS ELEMENTOS QUE NAO FORAM TOCADOS ESPECÃFICAMENTE*/
}

body > header{
    background-color: #2f3640 ;
    padding: 10px 0;
    color: #f5f3fa;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: #f5f3fa;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

section .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article header {
    font-size: 14px;
    text-align: right;
}

.articles article img {
    height: 240px; 
    width: 420px;
    border-radius: 4px;
}

.articles article p{
    margin-top: 8px;

}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: #fff;
    padding: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: lighter;
    margin-top: 8px;
    border-radius: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: 'Belanosima', sans-serif;
    font-size: 18px;
}

.articles article h3 {
    font-size: 24px;
    font-family: 'Belanosima', sans-serif;
}


h2 {
    font-family: 'Belanosima', sans-serif;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a{
    background-color: rgba(0, 255, 0, 0.8);
}

#sports .articles article a {
    background-color: #009432;
}

#economy {
    background-color: #f8f59f;
}

#economy .articles article a {
    background-color: #ff9f1a;
}

#entertainment {
    background-color: rgb(219, 154, 187);
}

#entertainment .articles article a {
    background-color: rgb(153, 23, 56);
}

#technology {
    background-color: rgb(74, 101, 218);
}

#technology .articles article a {
    background-color: rgb(151, 104, 240);
}